{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>TODO APP</title>
</head>
<body>
    <section class="vh-200" style="background-color: #eee;">
        <div class="container py-5 h-50">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card rounded-3">
                <div class="card-body p-2">
                  <h4 class="text-center my-3 pb-3">ToDo App</h4>
                  
                  <form method='POST' class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                    {% csrf_token%}
                    <div class="col-5">
                      <div class="form-outline">
                        <input type="text" name="task" id="form1" class="form-control-lg" placeholder="Enter a task here" />
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-success btn-lg">Add</button>
                    </div>
                  </form>
      
                  <table class="table mb-4 ">
                    <thead>
                      <tr>
                        <th scope="col">Todo item</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for task in alltasks %}
                      <tr>
                        <td>
                          <!-- checks if the task is completed or not -->
                          {% if task.status %} 
                            <strike> {{task.task}}</strike>
                          {% else %}
                            {{task.task}}
                          {% endif %}
                        </td>
                        <td>
                          <!-- checks if the task is completed or not -->
                          {% if task.status %}
                             <small style="color: green;">Completed</small>
                          {%else%}
                             <small style="color: red;">Pending</small>
                          {% endif %}
                        </td>
                        <td>
                          <!-- update button -->
                          <a href="{% url 'update' task.id %}" class="btn btn-info btn-sm">Update</a>
                          
                          <!-- delete button -->
                          <form action="{% url 'delete' task.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                          </form>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
      
                </div>
              </div>
            </div>
            <div>
              {% for message in messages %}
              <h6 class="text-center text-success"> {{message}} </h6>
              {% endfor%}
            </div>
          </div>
        </div>
      </section>
</body>
</html>