{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>TODO APP</title>
</head>
<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-50">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card rounded-3">
                <div class="card-body p-4">
      
                  <h4 class="text-center my-3 pb-3">Update Task</h4>
                 
                  <form method='POST' class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
                    {% csrf_token%}
                    <div class="col-5">
                      <div class="form-outline">
                        
                        <input type="text" name="task" id="form1" class="form-control-lg" placeholder="Enter a task here" value="{{tasks.task}}" />
                        
                      </div>
                    </div>
      
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary btn-lg">Save</button>
                      <a href="/" class="btn btn-success btn-lg">Back</button></a>
                    </div>
      
                  </form>
                </div>
              </div>
              <div>
                {% for message in messages %}
                <h6 class="text-center text-success "> {{message}} </h6>
                {% endfor%}
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>